.auth
	+reset
	position: absolute
	top: 50%
	left: 50%
	width: 640px
	min-height: 480px
	transform: translate(-50%, -50%)
	h1
		font-size: 2em
	.forms
		+reset
		width: 100%
	fieldset
		+reset
		padding: 0px 8px
		float: left
		width: 50%
		height: 100%
		border: 0px
		border-top: 1px solid #ccc
		legend
			color: #aaa
			font-family: $heading-font
			font-size: 1.2em
