doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title init Lab Inventory
		link(rel="stylesheet", href="css/style.css")
	body!= content || '<section id="ui"></section>'
		script(src="js/app.js")
