button
	+header-height($form-field-height)
	border: 0px
	border-radius: 3px
	background: #fff
	font-size: 1em
	padding: 0px 10px
	cursor: pointer
	box-sizing: border-box
	outline: none
	transition: background .3s, border .3s, color .3s
	box-shadow: inset 0px 0px 7px #eee, 1px 1px 17px #eee
	border: 1px solid #ddd
	color: #777
	&:hover
		background: #fafafa
		border-color: #aaa
		color: #000
	> i.fa
		display: inline-block
		font-size: 0.8em
		line-height: inherit
		height: inherit
		float: left
		min-width: 20px
		text-align: center
		&::after
			content: '\00a0'
	> img
		line-height: inherit
		margin: 4px 0px
		margin-left: -8px
		height: 80%
		float: left
		min-width: 20px
		vertical-align: text-top

td > button
	line-height: inherit
	height: inherit
	font-size: inherit
	border: 0px
	border-radius: 0px
	box-shadow: none
	background: rgba(#fff, 0)
