form.edit, form.create, form.form, form.filters
	display: block
	// min-width: 800px
	&.form
		min-width: 100%
	button.btn
		+header-height($form-field-height)
		&.btn-primary
			height: (calc(#{$form-field-height} * 1.2))
			line-height: (calc(#{$form-field-height} * 1.2))
			box-shadow: 1px 1px 17px #eee
			// background: #88e2c1
			background: rgba(#accfd8, 0.9)
			border: 1px solid #96c3d2
			color: #6595a5
			&:hover
				border: 1px solid #719ba9
				color: #507784
				// 40626d

		margin: 16px 0px
		padding: 0px 8px
		display: block
		width: 100%
		+not-phone
			width: calc(100% - 160px)
			margin-left: 150px

	.field
		display: inline-block
		width: 100%
		margin: $form-spacing 0px
		clear: both
		input, label, button, select
			+header-height($form-field-height)
			display: inline-block
		> input, > select, > .form-multiple
			border-radius: 3px
			line-height: $form-field-height
			padding: 0px $form-spacing
			font-size: 1em
			border: 0px
			width: 100%
			+not-phone
				width: calc(100% - 160px)
			box-shadow: inset 0px 0px 2px #aaa
			background: rgba(#fafafa, 0.8)
			box-sizing: border-box
			outline: none
			transition: background .3s, box-shadow .3s
			&:focus, &:focus-within
				box-shadow: inset 0px 0px 2px #777
				background: rgba(#f5f5f5, 0.8)
			&.err
				border: 1px solid red
		select
			padding: 0px 2px
			cursor: pointer
			option
				+reset
			&:hover
				box-shadow: inset 0px 0px 3px #777
				background: #f5f5f5
		label
			color: #333
			font-size: 1em
			width: 150px
			text-align: left
			padding-right: 16px
			margin-left: 4px
			margin-top: 0px
			+not-phone
				text-align: right
				margin-left: 0px
				margin-top: 10px

		.form-multiple
			position: relative
			padding: 0px
			input[type="text"]
				+header-height($form-field-height)
				position: absolute
				right: 0px
				top: 0px
				width: auto
				border: 0px
				background: none
				outline: none
			&:focus-within
				li
					opacity: 1
			ul
				+header-height(calc(#{$form-field-height} - 8px))
				margin: 4px
				list-style: none
				li
					+header-height(calc(#{$form-field-height} - 8px))
					margin-right: 4px
					padding: 0px 5px
					background: #ddd
					color: #555
					box-shadow: inset 0px 0px 3px #888, 0px 0px 3px #777
					border: 1px solid #888
					border-radius: 3px
					width: auto
					opacity: 0.7
					span
						+header-height(calc(#{$form-field-height} - 8px))
					button
						+header-height(calc(#{$form-field-height} - 8px))
						margin-left: 3px
						display: inline
						background: none
						border: 0px
						box-shadow: none
						width: auto
	.field-file
		label
			+not-phone
				height: 128px
				line-height: 128px
				float: left
		.field-file-list
			+reset
			list-style: none
			display: inline-block
			width: 100%
			+not-phone
				width: calc(100% - 160px)
			li
				+header-height(128px)
				text-align: center
				margin: $form-spacing 0px
				margin-right: $form-spacing
				float: left
				&:first-child:last-child
					display: block
					width: 100%
					a
						width: 100%
				a, a > i
					+header-height(128px)
					min-width: 128px
				a
					cursor: pointer
					border: 1px solid rgba(#333, 0)
					border-radius: 8px
					&:hover
						border: 1px dashed rgba(#333, 0.5)
						background: rgba(#fff, 0.1)
				.thumbnail
					img
						max-height: 128px
	&.filters
		position: relative
		.field
			label
				margin: 0px
				display: none
				text-align: left
				padding: 0px 20px
			+not-phone
				width: auto
				label
					display: inline-block
		// > *
		// 	+not-phone

				$columns: 5
				@for $i from 1 through $columns
					&:last-child:nth-child(#{$i}), &:last-child:nth-child(#{$i}) ~ *
						width: calc(100% / #{$i})
		.btn
			+not-phone
				position: absolute
				top: 8px
				right: 4px
				width: auto
				margin: 0px
				display: inline-block
