.grid .pagination
	+header-height($form-field-height)
	margin: calc(#{$form-field-height} / 2) 0px
	display: block
	text-align: center
	li
		+header-height($form-field-height)
		width: $form-field-height
		background: rgba(#fff, 0.5)
		margin: 2px
		border: 1px solid #ccc
		box-shadow: 1px 1px 17px #ddd
		color: #777
		&:hover
			border-color: #aaa
			box-shadow: 1px 1px 17px #ccc
		&.active
			color: #333
			background: rgba(#fff, 0.7)
		a
			+header-height($form-field-height)
			width: 100%
			cursor: pointer

.grid .list-limit
	float: right
	margin-right: 4px
	margin-top: 14px
	width: auto
	min-width: auto!important
	.field
		width: auto
		display: inline-block
		select
			width: auto
.grid table
	box-shadow: 1px 1px 17px #ddd
	transition: box-shadow 1s, border-color .5s, color .5s
	color: #555
	&:hover
		border-color: #aaa
		box-shadow: 1px 1px 17px #ccc
		color: #000
	background: rgba(#fff, 0.7)
	border-collapse: separate
	border-spacing: 0
	padding: 0px
	line-height: $form-field-height
	width: 100%
	border: 1px solid #ccc
	tr
		> *
			padding: 0px 10px
			box-sizing: border-box
			height: $form-field-height
			&:hover
				background: rgba(#fbfbfb, 0.7)
		> :first-child
			border-left: 0px solid #e5e5e5
		> :last-child
			border-right: 0px solid #e5e5e5
		> :not(:first-child)
			border-left: 1px solid #e5e5e5
	thead tr > *
		height: $form-field-height
		line-height: $form-field-height
		vertical-align: bottom
		text-align: left
		background: rgba(#fafafa, 0.6)
		box-shadow: inset 0px -4px 0px #f5f5f5
		cursor: pointer
		&:hover
			background: rgba(#f5f5f5, 0.7)
		.sort
			float: right
			height: $form-field-height
			line-height: $form-field-height
	tbody tr
		> *
			border-top: 1px solid #e5e5e5
		> :last-child
			padding: 0px
	tfoot tr td
		border-top: 1px solid #e5e5e5
		padding: 0px
		line-height: $form-field-height
		height: $form-field-height
		button
			width: 100%
			font-weight: bold
			background: lighten($color-green, 37%)
			&:hover
				background: lighten($color-green, 35%)
	tr.edit
		background: lighten($color-blue, 45%)
		> *
			padding: 0px
			&:hover
				background: lighten($color-blue, 43%)
			input
				width: 100%
				box-sizing: border-box
				border: 0px
				background: none
				line-height: $form-field-height
				height: $form-field-height
				padding: 0px 10px
				font-size: inherit
				font-family: inherit
				outline: none
				transition: box-shadow .3s
				&:focus
					outline: none
					border: 0px
					box-shadow: inset 0px 0px 15px #dae5ea
