
body
	+reset
	font-family: $text-font
	width: 100%
	font-size: 16px

h1, h2, h3, h4, h5
	font-family: $heading-font

input, textarea, select
	font-family: $text-font

.menu, th, .breadcrumb, label
	font-family: $text-font

.left
	float: left!important
.text-left
	text-align: left
.right
	float: right!important
.text-right
	text-align: right
