
// basic
=reset
	margin: 0px
	padding: 0px
	display: inline-block
	box-sizing: border-box

=header-height($s)
	+reset
	height: $s
	line-height: $s

// media queries
=phone
	@media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px})
		@content

=not-phone
	@media (min-width: #{$tablet-width})
		@content

=tablet
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px})
		@content

=desktop
	@media (min-width: #{$desktop-width})
		@content

=not-desktop
	@media (max-width: #{$desktop-width - 1px})
		@content



=row
	+reset-inline
	width: 100%

// grid
=col($col, $sum, $gap: 1em, $align: top, $first: false, $last: false)
	+reset-inline
	width: calc(#{percentage($col/$sum)} - #{$gap} * 2)
	vertical-align: $align
	margin: 0px $gap
	// padding-left: if($first, 0, $gap)
	// padding-right: if($last, 0, $gap)

@mixin no-select
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
