
=header-size($mod: 0px)
	+header-height(calc(64px + #{$mod}))
	+not-phone
		height: (calc(80px + #{$mod}))
		line-height: (calc(80px + #{$mod}))

header
	+header-size(0px)
	width: 100%
	background-color: #fdf7aa
	background: linear-gradient(to bottom, rgba(#333, 0) 0%, rgba(#333, 0.1) 95%, rgba(#333, 0.2) 96%, rgba(#333, 0.2) 100%), url('../assets/tile.png') repeat
	background-size: 160px
	padding: 0px 4px
	+not-phone
		padding: 0px 20px
	box-shadow: 0px 1px 1px #aaa, 0px 7px 15px #ccc
	> *
		float: left
	img
		height: calc(100%)
		vertical-align: middle
	h1
		+header-size()
		box-sizing: content-box
		// padding-bottom: 2px
		font-size: 1.6em
		a
			color: rgba(#333,0.8)
			text-shadow: 0px 0px 4px #eee
			text-decoration: none
			&:hover
				text-decoration: underline
		span
			display: none
			+not-phone
				display: inline
	ul.menu
		+header-size
		margin-left: 0px
		+not-phone
			margin-left: 20px
		list-style: none
		li
			+header-size
			float: left
			> a
				+header-size
				box-sizing: content-box
				color: #333
				text-shadow: 0px 0px 4px #eee
				text-decoration: none
				transition: background .5s, box-shadow .5s
				font-size: 0.9em
				padding: 0px 4px
				+not-phone
					font-size: 1em
					padding: 0px 14px 0px 14px
				outline: none
				&.active
					background: linear-gradient(to bottom, rgba(#333, 0) 0%, rgba(#333, 0.08) 95%, rgba(#333, 0.2) 96%, rgba(#333, 0.2) 100%)
					// box-shadow: inset 0px 0px 20px #eee
				&:hover
					text-decoration: underline
