body
	background: url('../assets/background.jpeg')
	background-size: cover
	background-repeat: no-repeat
	background-position: top center
	background-attachment: fixed
	overflow-y: hidden

#ui
	@import './header'
	@import './configure'
	@import './breadcrumb'
	@import './pages/auth'
	background: rgba(#f5f5f5, 0.65)
	position: absolute
	top: 0px
	left: 0px
	right: 0px
	bottom: 0px
	width: 100%
	height: 100%
	overflow-y: scroll
	.content
		animation: fadein .5s
		padding: 10px 0px
		+not-phone
			padding: 10px
		> * > *
			animation: fadein .5s
			margin: 10px
